<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% obj.each do |article| %>
    <tr>
      <td colspan="5">
        <% if article.user %>
          Article by
          <%= link_to article.user.username, user_path(article.user) %>
        <% end %>
      </td>

    </tr>

    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= link_to 'View', article_path(article) %></td>
      <% if logged_in? && article.user == current_user %>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Delete', article_path(article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>