<%= form_with(model: @article, local: true) do |f| %>

  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br/>
    <%= f.text_area  :description %>
  </p>

  <p>
    <%= f.label :category %><br/>
    <%= f.collection_select(:category_ids, Category.all, :id, :name, { prompt: "Make your selection from the list below (can be empty)"}, { multiple: true } ) %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>