<%= form_with(model: @user, local: true) do |f| %>

  <p>
    <%= f.label :username %><br/>
    <%= f.text_field :username, placeholder: "Enter a username" %>
  </p>

  <p>
    <%= f.label :email %><br/>
    <%= f.email_field  :email, placeholder: "Enter your email address" %>
  </p>

  <p>
    <%= f.label :password %><br/>
    <%= f.password_field  :password, placeholder: "Choose a password" %>
  </p>

  <p>
    <%= f.submit "Sign up" %>
  </p>

  <p>
    <%= link_to '[ Cancel and return to articles listing ]', articles_path %>
  </p>

<% end %>