<h1>Alpha Bloggers</h1>

<%= will_paginate @users %>

<table>
  <thead>
  <tr>
    <th>Article Count</th>
    <th colspan="2">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td colspan="3">
        <%= link_to user.username, user %>
      </td>

    </tr>

    <tr>
      <td><%= pluralize(user.articles.count, "article") %></td>
      <td><%= link_to 'View profile', user %></td>

      <td>
        <% if logged_in? && user == current_user %>
          <%= link_to 'Edit profile', edit_user_path(user) %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @users %>