<h1><%= @user.username %>'s profile</h1>

<%= link_to "Edit your profile", edit_user_path(@user) %>

<h3>Articles</h3>

<%= will_paginate @user.articles.paginate(page: params[:page], per_page: 5) %>

<%= render 'articles/article', obj: @user.articles.paginate(page: params[:page], per_page: 5) %>

<%= will_paginate @user.articles.paginate(page: params[:page], per_page: 5) %>
