<h1><%= @user.username %>'s profile</h1>

<%= link_to 'Logout', logout_path, data: { turbo_method: :delete } %>

<% if logged_in? && @user == current_user %>
  <%= link_to "Edit your profile", edit_user_path(@user) %>
  <%= link_to "Delete profile", user_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<% end %>

<h3>Articles</h3>

<%= will_paginate @user.articles.paginate(page: params[:page], per_page: 5) %>

<%= render 'articles/article', obj: @user.articles.paginate(page: params[:page], per_page: 5) %>

<%= will_paginate @user.articles.paginate(page: params[:page], per_page: 5) %>
