<h1>Category: <%= @category.name %></h1>

<% if logged_in? && current_user.admin? %>
  <%= link_to "Edit category name", edit_category_path(@category) %>
  <%#= link_to "Delete profile", user_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<% end %>

<h3>Articles</h3>

<%= will_paginate @category.articles.paginate(page: params[:page], per_page: 5) %>

<%= render 'articles/article', obj: @category.articles.paginate(page: params[:page], per_page: 5) %>

<%= will_paginate @category.articles.paginate(page: params[:page], per_page: 5) %>
